.container1{

    font-family: Arial, Helvetic Neue, Helvetica, sans-serif ;
    background: '#777';
    
    font-size: 18px;
    margin-left:50px;
    margin-top:10px;
    margin-right:20px;
    margin-bottom: 40;
    

}

p {
    font-size: 18px;
    background:lightgreen;
    text
}
